.container{
  width: 800px;
  height: 300;
}
.user-information {
  background: rgb(243, 204, 204);
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  /* justify-content: center; */
  flex-direction: row;
  color: rgb(0, 0, 0);
}

.user-information .image img {
  width: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.user-content {
  padding-left: 60px;
}

.more-data {
  font-size: 20px;
  font-weight: 100;
}
.more-data p {
  display: center;
  flex-direction: row;
  align-items: center;
}
.more-data img {
  width: 20px;
}


